@import url(https://fonts.googleapis.com/css?family=Sumana:400,700);

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

#outgoing {
    fill: #0DB418;
}
#ingoing {
    fill: #E51510;
}

.link.outgoing {
    stroke: #0DB418;
}
.link.ingoing {
    stroke: #E51510;
}

.link.resolved {
    stroke-dasharray: 0, 2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#stats{
    background-color: #FFE36B;
    padding: 10px;
    position: fixed;
    top: 30px;
    right: 30px;
    text-align: right;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    border-radius: 10px;
}

#head {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #FFE36B;
    text-shadow: 1px 1px #080808;
}